:root {
  --background: #f0eee6;
  --text: #23272f;
  --muted: #555555;
  --accent: #5901ca;
  --border: #eaeaea;
  --max-width: 38rem;
  --contact-accent: var(--accent);
}

body.dark,
.dark {
  --background: #1e1e1c;
  --text: #f0eee6;
  --muted: #b0b0b0;
  --accent: #5901ca;
  --contact-accent: #d0bcff;
  --border: #444857;
}

body {
  background: var(--background);
  color: var(--text);
  font-family: 'Lora', serif;
  display: flex;
  justify-content: center;
  letter-spacing: 0.01em;
  transition:
    background 0.4s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

h2 {
  font-size: 1.75rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.29;
}
h3 {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.33;
}
p {
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 1.7;
}
li {
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 1.5;
}

.app__main {
  max-width: var(--max-width);
  padding: 0 1.75rem 2.25rem 1.75rem;
  transition:
    box-shadow 0.2s,
    background 0.4s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.4s cubic-bezier(0.4, 0, 0.2, 1),
    border 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}


@media (max-width: 43.75rem) {
  .app__main {
    max-width: 90vw;
    padding: 0.5rem 0.5rem 1.2rem 0.5rem;
  }
  h2 {
    font-size: 1.15rem;
  }
  h3 {
    font-size: 1rem;
  }
  p, li {
    font-size: 1rem;
    line-height: 1.4;
  }
}
